:root {
  --main-bg-color: #303030;
  --main-text-color: #d8d8d8;
}

body,
html {
  font-family: "Roboto", sans-serif;
  height: 100%;
  display: grid;
  box-sizing: border-box;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

#menuContainer {
  display: inline-block;
  cursor: pointer;
  padding-left: 24px;
  padding-right: 20px;
}

h1 {
  display: block;
  font-weight: normal;
  font-size: 18px;
}

.logo {
  width: 100px;
}

#client-menu {
  position: absolute;
  top: 32px;
  height: 100vh;
  width: 370px;
  background-color: rgba(38, 38, 38, 1);
  z-index: -1;
  text-align: left;
  z-index: -1;
}

#client-menu.change {
  z-index: 2;
}

#placeHolder {
  font-size: 14px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #212121;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 64px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.12), 0 4px 4px 0 rgba(0, 0, 0, 0.24);
}

.top-header {
  background-color: #000;
  height: 24px;
}
