:root {
  --main-bg-color: #303030;
  --main-text-color: #d8d8d8;
}

body,
html {
  font-family: "Roboto", sans-serif;
  height: 100%;
  display: grid;
  box-sizing: border-box;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

#menuContainer {
  display: inline-block;
  cursor: pointer;
  padding-left: 24px;
  padding-right: 20px;
}

h1 {
  padding-top: 64px;
  padding-left: 26px;
  display: inline-block;
  font-weight: normal;
  font-size: 24px;
}

#createClient {
  display: inline;
  margin-left: 125px;
  width: 110px;
  height: 35px;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
}

#clients {
  padding-left: 26px;
}

#clientSearch {
  font-family: "Roboto", sans-serif;
  width: 85%;
  height: 36px;
  margin-left: 26px;
  padding-left: 10px;
  font-size: 17px;
  background-color: var(--main-bg-color);
  border-radius: 10px;
  border: 0;
  color: white;
}

#clients li {
  font-size: 16px;
  list-style-type: none;
}

#clients p {
  font-size: 10px;
}

#client-menu {
  position: absolute;
  top: 32px;
  left: -400px;
  height: 100vh;
  width: 370px;
  background-color: rgb(38, 38, 38);
  animation-duration: 0.25s;
  animation-name: slideOut;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

@keyframes slideOut {
  from {
    left: 8px;
  }
  to {
    left: -400px;
  }
}

#client-menu.change {
  position: absolute;
  z-index: 1;
  top: 32px;
  animation-duration: 0.25s;
  animation-name: slideIn;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

@keyframes slideIn {
  from {
    left: -400px;
  }
  to {
    left: 8px;
  }
}

.arrowContainer {
  display: inline-block;
  position: absolute;
  right: 31px;
}

.arrow::after,
.arrow .arrow::after {
  border-color: white;
}
.arrow {
  display: inline-block;
  height: 12px;
  position: relative;
  width: 12px;
  z-index: 9999;
}

.arrow::after {
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-right-style: solid;
  border-right-width: 2px;
  content: "";
  display: inline-block;
  height: 6px;
  left: 0;
  position: absolute;
  top: 0;
  width: 6px;
}

.arrow.is-right {
  -moz-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  -webkit-transform: rotate(315deg);
  transform: rotate(315deg);
}

.App-header {
  background-color: #212121;
  display: grid;
  height: 68px;
  width: 100%;
  align-items: center;
  grid-template: "leftHeader rightHeader";
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.12), 0 4px 4px 0 rgba(0, 0, 0, 0.24);
}

.leftHeader {
  grid-area: leftHeader;
  display: flex;
  align-items: center;
}

.rightHeader {
  grid-area: rightHeader;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.top-header {
  background-color: #000;
  height: 24px;
}

.logo {
  position: relative;
  display: inline-block;
  width: 100px;
}

.userContainer {
  display: inline-block;
  padding-right: 20px;
}

.userCircle {
  -webkit-background-size: 32px 32px;
  background-size: 32px 32px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  margin: 0;
  overflow: hidden;
  height: 49px;
  width: 49px;
  background-color: white;
}

.threeDot_container {
  height: 16px;
  width: 4px;
  cursor: pointer;
  display: inline-block;
  padding-right: 24px;
}

.threeDot_container span {
  background: white;
  border: none;
  height: 4px;
  width: 4px;
  position: relative;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 2px;
  display: block;
}

#placeHolder {
  font-size: 14px;
  top: 42px;
  display: inline-block;
  padding-right: 19px;
}
