:root {
  --main-bg-color: #303030;
  --main-text-color: #d8d8d8;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100%;
  display: grid;
  box-sizing: border-box;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

.logo {
  margin: 142px auto 71px auto;

  height: 50px;
  width: 200px;
}

.container {
  color: var(--main-text-color);
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 0px auto;
}

#login {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #222222;
  width: 413px;
  height: 237px;
}

#email {
  margin-top: 55px;
  margin-bottom: 27px;
}

#password {
  margin-bottom: 18px;
}

.register {
  align-content: center;
  color: #ffffff;
  font-size: 16px;
  margin: 12px auto;
  font-weight: lighter;
}
